@charset "UTF8";

*{
	padding: 0px;
	margin: 0px;
}

html, body{
	height: 100vh;
	width: 100vw;
}

body{
	background: black url(../imagens/fundo-madeira.jpg) top center no-repeat fixed;
	size: cover;
}

main{
	position: relative;
	height: 100vh;
}

section#telefone{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	height: 627px;
	width: 311px;
	background: url(../imagens/frame-iphone.png) no-repeat fixed;
	border-radius: 53px;
	box-shadow: rgba(0, 0, 0, 0.132) 0px 2px 25px;

}

iframe#tela{
	position: relative;
	top: 80px;
	left: 22px;
	width: 269px;
    height: 471px;
	
}

section#redes-sociais{
	text-align: end;
	
}

section#redes-sociais img{
	margin: 10px;
	max-height: 3.5vmax;
	border-radius: 50%;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}


